services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: true

  App\CarPooling\Infrastructure\UI\Http\Controller\:
    resource: '../../../../UI/Http/Controller/*'
    tags: ['controller.service_arguments']

  App\CarPooling\Application\Command\:
    resource: '../../../../../Application/Command/*/*/*Handler.php'
    tags:
      - {name: 'tactician.handler', typehints: true}

  App\CarPooling\Infrastructure\Domain\:
    resource: '../../../../Domain/*'

  App\CarPooling\Application\Service\:
    resource: '../../../../../Application/Service/*'

  App\CarPooling\Domain\Model\Car\CarRepositoryInterface: '@App\CarPooling\Infrastructure\Domain\Model\Car\DoctrineCarRepository'
  App\CarPooling\Domain\Model\Journey\JourneyRepositoryInterface:  '@App\CarPooling\Infrastructure\Domain\Model\Journey\DoctrineJourneyRepository'


  App\CarPooling\Application\Listener\Car\JourneyWasAssignedToCarListener: ~
  App\CarPooling\Application\Listener\Car\JourneyWasDropFromCarListener: ~

  App\CarPooling\Domain\Event\DomainEventPublisher:
    calls:
      - [ subscribe, [ '@App\CarPooling\Application\Listener\Car\JourneyWasAssignedToCarListener'  ] ]
      - [ subscribe, [ '@App\CarPooling\Application\Listener\Car\JourneyWasDropFromCarListener'  ] ]
