services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: true

  App\CarPooling\Infrastructure\UI\Http\Controller\:
    resource: '../../../../UI/Http/Controller/*'
    tags: ['controller.service_arguments']

  App\CarPooling\Application\Command\:
    resource: '../../../../../Application/Command/*/*/*Handler.php'
    tags:
      - {name: 'tactician.handler', typehints: true}